[core]
    repositoryformatversion = 0
    filemode = true
    bare = false
    logallrefupdates = true
    ignorecase = true
    precomposeunicode = false
[remote "origin"]
    url = git@github.com:ygoldman/rwizflowy.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[branch "master"]
    remote = origin
    merge = refs/heads/master
[remote "rwizflowy-ec2"]
    url = rwizflowy:/home/rwizflowy/git-repos/rwizflowy/
    fetch = +refs/heads/*:refs/remotes/rwizflowy-ec2/*